@import '@/styles/scss/tools/vars/components/colors.scss';
@import '@/styles/scss/tools/mixins/components/others.scss';
@import '@/styles/scss/tools/mixins/components/flexbox.scss';

.loader {
  @include flex(center, center);
  height: 100%;
  &__item {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    background: currentColor;
    color: $thistlePurpleLight;
    -webkit-animation: animation-loader 0.3s 0.3s linear infinite alternate;
    animation: animation-loader 0.3s 0.3s linear infinite alternate;
    &::after,
    &::before {
      content: '';
      width: 8px;
      height: 40px;
      border-radius: 4px;
      background: currentColor;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      -webkit-animation: animation-loader 0.3s 0.45s linear infinite alternate;
      animation: animation-loader 0.3s 0.45s linear infinite alternate;
    }
    &::before {
      left: -20px;
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
  }
}

@keyframes animation-loader {
  0% {
    height: 48px;
  }
  100% {
    height: 4.8px;
  }
}

@-webkit-keyframes animation-loader {
  0% {
    height: 48px;
  }
  100% {
    height: 4.8px;
  }
}
