*.js
*.scss
*.css
*.json
node_modules
/node_modules
/.vscode
/.github
/.git
/dist
dist/
build/
next
next/
/config
config/
postcss.config.mjs
vitest.config.mts
vitest.setup.mts
package-lock.json
/coverage
coverage/
