.Paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ListItem {
  display: flex;
  align-items: center;
  gap: 5px;
}
