.graphql {
  &_form {
    @include m.flex(null, center);
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
    padding: f.rem(5px) f.rem(5px) f.rem(10px);

    & &_body {
      @include m.flex(null, center);
      gap: f.rem(70px);
      width: 100%;

      @include m.smalltablet {
        gap: f.rem(15px);
      }

      @include m.mobile {
        flex-direction: column;
      }
    }

    & &_code {
      @include m.flex(null, center);
      gap: 5px;
      width: 100%;
      padding: f.rem(5px) f.rem(5px) f.rem(10px);
      font-size: 24px;

      &_body {
        @include m.flex(center);
        gap: f.rem(10px);
        width: 100%;
      }

      &_number {
        font-size: 24px;
      }

      &_succes {
        color: v.$succesColor;
        @include m.luxtext(v.$succesColor, green);
      }

      &_warning {
        color: v.$warningColor;
        @include m.luxtext(v.$warningColor, yellow);
      }

      &_error {
        color: v.$errorColor;
        @include m.luxtext(v.$errorColor, red);
      }
    }

    & &_url {
      color: v.$thistlePurpleLight;
      max-width: 100%;

      fieldset {
        border-color: v.$brownLight;
      }
    }

    [type='text'],
    [data-shrink='true'] {
      color: v.$thistlePurpleLight;
    }

    [data-shrink='false'] {
      color: v.$brownLight;
    }
  }
}
