@import 'src/styles/scss/tools/mixins/components/breakpoints';
@import 'src/styles/scss/tools/vars/components/colors';

.Footer {
  background-color: #381e72;
}

.Toolbar {
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  color: #e6e0e9;
}

.Contributors {
  flex: 0;
  display: flex;
  gap: 15px;

  @include mobile {
    flex-direction: column;
    gap: 10px;
  }
}

.Image {
  @include mobile {
    width: 64px;
    height: 64px;
  }
}
