@use '../../mixins' as mix;

// Адаптивное видео
%responsiveVideo {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    @include mix.fullwhp();
    object-fit: cover;
  }
}

// Видео в качестве фона
%videoBackground {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    @include mix.miwh();
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
